$primary: #ff7f00;
$black1: #495057;

@import "bootstrap/bootstrap.scss";

body {
  font-family: "Montserrat", sans-serif;
  color: $black1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  &:hover {
    text-decoration: none;
  }
}
